:root {
	--primary-color: #1db954;
	--primary-color-gray: #eee;
	--primary-color-text: #041c32;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

body {
	font-family: "Inter", sans-serif;
	background-color: white;
	color: var(--primary-color-text);
}

.main {
	max-width: 1024px;
	margin: 5rem auto 0 auto;
	.search {
		position: relative;
		width: 532.67px;
		display: flex;
		justify-content: space-between;
		input {
			width: 500px;
			font-weight: 500;
			border: 1px solid var(--primary-color-gray);
			padding: 0.5rem 1rem;
			background-color: transparent;
			&:focus {
				outline: none;
			}
		}
		button {
			padding: 0.5rem 1rem;
			border: 1px solid var(--primary-color-gray);
			cursor: pointer;
			&:hover {
				opacity: 80%;
			}
		}
		.search__results {
			position: absolute;
			width: 100%;
			max-height: 200px;
			top: 32.67px;
			margin: 0;
			overflow-y: scroll;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.1) 0.95px 17.95px 12px;
			:not(:last-child) {
				button {
					border-bottom: 1px solid var(--primary-color-gray);
				}
			}
			button {
				width: 100%;
				background-color: transparent;
				border: none;
				padding: 0.5rem 1.5rem;
				text-align: start;
			}
		}
	}
	.stock__info {
		margin-top: 3rem;
		h2 {
			margin-bottom: 0.5rem;
		}
		h4 {
			margin-bottom: 0.3rem;
		}
		h6 {
			padding: 0.1rem 0;
			span {
				color: #041c32a3;
			}
		}
	}
	.stock {
		padding: 1rem 0;
		margin: 1rem 0;
		border-top: 1px solid var(--primary-color-gray);
		border-bottom: 1px solid var(--primary-color-gray);
	}
	.time__option {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 8px;
		li {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.3rem;
			border-bottom: 2px solid transparent;
			&:hover {
				opacity: 80%;
			}
			cursor: pointer;
			&.active,
			&:hover {
				background-color: rgba(#1db954, 20%);
				border-bottom-color: #1db954;
				color: var(--primary-color);
			}
		}
	}
}
